﻿@model PetaPoco.Page<WatchShopConnect.SP_VIEW>
@{
    ViewBag.Title = ViewBag.nsx;
    Layout = "~/Views/Shared/Partial1.cshtml";
}
<div class="col-md-10">
    <div class="panel" style="background-color: rgba(255, 255, 255, 0.04); border-radius:10px">
        <div class="panel-heading ItemHeader" style="background:url('@Url.Content("~/Content/img/ii.png")'); height:42px; border-radius: 10px 10px 0px 0px; box-shadow: 0px 0px 20px">Hãng sản xuất: @ViewBag.nsx.ToUpper()</div>
        <div class="panel-body">
            @Html.Partial("~/Views/SanPham/ViewList.cshtml", Model)
        </div>
    </div>
</div>
