﻿@model IEnumerable<WatchShopConnect.NHASANXUAT>
@{Layout = null;}

    <div class="list-group" style="box-shadow: 0px 0px 20px #12abff">
        <a href="#" class="list-group-item" style="background: url('@Url.Content("~/Content/img/ii.png")') repeat-x;">Hãng sản xuất</a>
        @foreach (var item in Model)
        {
            <a href="~/NhaSanXuat/Detail/@item.MANHASANXUAT" class="list-group-item">@item.TENNHASANXUAT</a>
        }
    </div>