﻿@model WatchShopConnect.NGUOIDUNG
@{ Layout = null; }
@using (Html.BeginForm("ChangeInfo", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>User Information</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.HOTEN)
        @Html.TextBoxFor(model => model.HOTEN, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.HOTEN)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NGAYSINH)
        @Html.TextBoxFor(m => m.NGAYSINH, new { @class = "form-control", type = "date", @Value = Model.NGAYSINH.ToString("yyyy-MM-dd") })
        @Html.ValidationMessageFor(model => model.NGAYSINH)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EMAIL)
        @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control", type = "email" })
        @Html.ValidationMessageFor(model => model.EMAIL)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SDT)
        @Html.TextBoxFor(model => model.SDT, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SDT)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CMND)
        @Html.TextBoxFor(model => model.CMND, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CMND)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DIACHI)
        @Html.TextBoxFor(model => model.DIACHI, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DIACHI)
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-success" />
    </div>
}
