﻿@model ASP.NET_MVC5_Bootstrap3_3_1_LESS.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<div class="col-md-10" style="border: 1px solid #fff; color:#fff; box-shadow:0px 0px 20px #0094ff">
    <div class="col-md-6 col-md-offset-1">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form"}))
        {
            <h2>@ViewBag.Title.</h2>
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-success" />
            </div>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have a local account.
            </p>
        }
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}