﻿@using ASP.NET_MVC5_Bootstrap3_3_1_LESS.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<div class="col-md-10" style="border:1px solid #fff; color:#fff; border-radius:20px ;box-shadow:0px 0px 20px #0094ff">
    <div class="col-md-6 col-md-offset-1">
        <h2>@ViewBag.Title.</h2>
        @Html.ActionLink("Change password", "Manage", "Account", new { type = "chgpass" ,@class="btn btn-info" })
        <a href="/Account/Manage?type=chginfo" class="btn btn-info" >Change user information</a>
        @Html.ActionLink("Lịch sử mua hàng", "LichSuMuaHang", "ShoppingCart", null, new { @class="btn btn-info" })
        <p class="text-success">@ViewBag.StatusMessage</p>
        @if (ViewBag.type == "chgpass")
        {
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }
                    <section id="externalLogins">
                        @Html.Action("RemoveAccountList")
                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
        }
        else
        {
            @Html.Action("ChangeInfo")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
