﻿@model WatchShopSite.Models.RegistorInf
@{
    ViewBag.Title = "Register";
}
<div class="col-md-10" style="border:1px solid #fff; box-shadow:0px 0px 20px #0094ff">
    <div class="col-md-6 col-md-offset-1">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2 style="color:#fff">@ViewBag.Title.</h2>
            <h4 style="color:#fff">Account information</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { style = "color:#fff" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @style = "color:#fff" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <h4 style="color:#fff">User information</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.FullName, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FullName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", type="date" })
                @Html.ValidationMessageFor(m => m.BirthDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",type="email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type="number" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IdentityCart, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.IdentityCart, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IdentityCart)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { style = "color:#fff" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
