﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Partial1.cshtml";
}
<div class="col-md-10">
    <div class="panel" style="background-color: rgba(255, 255, 255, 0.04); border-radius:10px">
        <div class="panel-heading ItemHeader" style="background:url('@Url.Content("~/Content/img/ii.png")'); height:42px; border-radius: 10px 10px 0px 0px;">SẢN PHẨM MỚI NHẬP</div>
        <div class="panel-body">@Html.Action("SanPhamMoiNhap","SanPham")</div>
    </div>
    <div class="panel" style="background-color: rgba(255, 255, 255, 0.04); border-radius: 10px">
        <div class="panel-heading ItemHeader" style="background:url('@Url.Content("~/Content/img/ii.png")'); height:42px; border-radius: 10px 10px 0px 0px">SẢN PHẨM ĐƯỢC MUA NHIỀU NHẤT</div>
        <div class="panel-body">@Html.Action("SanPhamMuaNhieuNhat", "SanPham")</div>
    </div>
</div>

