﻿@model WatchShopConnect.SANPHAM
@{ Layout = null; }
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Thông tin sản phẩm</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
        <script>
            function GetAlert(a)
            {
                alert(a);
            }

        </script>
            <div class="col-md-12">
                @using (Ajax.BeginForm("CapNhatSanPham", "AdminSanPham", new AjaxOptions { UpdateTargetId="ViewShow", OnSuccess="GetAlert('Cập nhật thành công')", OnFailure="GetAlert('Cập nhật thất bại')" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Ajax.ActionLink("Trở về", "DanhSachSanPham", "AdminSanPham", new { dsSanPhamPage=ViewBag.page}, new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class = "btn btn-warning" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Mã sản phẩm</label>
                            @Html.TextBoxFor(m => m.MASANPHAM, new { @class = "form-control", placeholder = "Nhập xuất xứ", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.MASANPHAM)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Tên sản phẩm</label>
                            @Html.TextBoxFor(m => m.TENSANPHAM, new { @class = "form-control", placeholder = "Nhập xuất xứ", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.TENSANPHAM)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Xuất xứ</label>
                            @Html.TextBoxFor(m => m.XUATXU, new { @class = "form-control", placeholder = "Nhập xuất xứ" })
                            @Html.ValidationMessageFor(m => m.XUATXU)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Giá gốc</label>
                            @Html.TextBoxFor(m => m.GIAGOC, new { @class = "form-control", type = "number", placeholder = "Nhập giá gốc" })
                            @Html.ValidationMessageFor(m => m.GIAGOC)
                        </div>
                        <div class="col-md-5">
                            <label>Giá bán</label>
                            @Html.TextBoxFor(m => m.GIABAN, new { @class = "form-control", type = "number", placeholder = "Nhập giá bán" })
                            @Html.ValidationMessageFor(m => m.GIABAN)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Số lượng tồn</label>
                            @Html.TextBoxFor(m => m.SOLUONGTON, new { @class = "form-control", placeholder = "Nhập số lượng tồn", type = "number" })
                            @Html.ValidationMessageFor(m => m.SOLUONGTON)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Mô tả</label>
                            @Html.TextAreaFor(m => m.MOTA, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.MOTA)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Hướng dẫn sử dụng</label>
                            @Html.TextAreaFor(m => m.HUONGDAN, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.HUONGDAN)
                        </div>
                    </div>
                    <script>
                        CKEDITOR.replace("MOTA")
                        CKEDITOR.replace("HUONGDAN")
                    </script>
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Cập nhật sản phẩm" class="btn btn-success" />
                            @Html.Hidden("page", new { page=ViewBag.page})
                        </div>
                    </div>
                }
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->