﻿@model PetaPoco.Page<WatchShopConnect.SP_VIEW>
@{ Layout = null; }
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Danh sách sản phẩm</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <div class="form-group">
                        @Ajax.ActionLink("Thêm sản phẩm mới", "ThemSanPham", "AdminSanPham", new { page=ViewBag.page}, new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class = "btn btn-success" })
                    </div>
                    @using (Ajax.BeginForm("DanhSachSanPham", "AdminSanPham", new AjaxOptions { UpdateTargetId = "ViewShow", InsertionMode = InsertionMode.Replace }))
                    {
                        <div class="form-group">
                            <div class="input-group input-group-sm col-md-4">
                                <input type="text" name="str" placeholder="Nhập tên sản phẩm" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat" type="submit">Tìm kiếm</button>
                                </span>
                            </div>
                        </div>
                    }
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="dsSanPham">
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.MASANPHAM</td>
                                    <td>@item.TENSANPHAM</td>
                                    <td>
                                        @if (item.DAXOA==true)
                                        {
                                            <span class="label label-danger">Đã xóa</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">Đang hoạt động</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                            @Ajax.ActionLink("Cập nhật", "CapNhatSanPham", "AdminSanPham", new { page = ViewBag.page, MASANPHAM = item.MASANPHAM }, new AjaxOptions { UpdateTargetId = "ViewShow" })|
                                            @Ajax.ActionLink("Thêm ảnh", "ThemAnhSanPham", "AdminSanPham", new { page = ViewBag.page, MASANPHAM = item.MASANPHAM }, new AjaxOptions { UpdateTargetId = "ViewShow" })|
                                            @Ajax.ActionLink("Xóa", "XoaSanPham", "AdminSanPham", new { page=ViewBag.page,MASANPHAM=item.MASANPHAM }, new AjaxOptions { HttpMethod="Get" ,UpdateTargetId = "ViewShow" })|
                                            @Ajax.ActionLink("Phục hồi", "PhucHoiSanPham", "AdminSanPham", new { page=ViewBag.page,MASANPHAM = item.MASANPHAM }, new AjaxOptions { UpdateTargetId = "ViewShow" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="box-footer text-center">
                        <!---Action link-->
                        <ul class="pagination">
                            @for (int i=1;i<=Model.TotalPages;i++)
                             {
                                <li>@Ajax.ActionLink(i.ToString(), "DanhSachSanPham", "AdminSanPham", new { str= ViewBag.str ,dsSanPhamPage = i }, new AjaxOptions {UpdateTargetId = "ViewShow", InsertionMode = InsertionMode.Replace })</li>
                            }
                        </ul>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->

