﻿@model WatchShopConnect.HINHANH
@{Layout = null;}
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Cập nhật ảnh cho sản phẩm @Model.MASANPHAM</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Ajax.ActionLink("Trở về", "DanhSachSanPham", "AdminSanPham", new { dsSanPhamPage=ViewBag.page}, new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
        <div class="row">
        <!--Form chọn hình ảnh-->
            <div class="col-md-6">
                @using (Html.BeginForm("DoiAnhSanPham", "AdminSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Mã sản phẩm</label>
                            @Html.TextBoxFor(m => m.MASANPHAM, new { @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Chọn ảnh sản phẩm</label>
                            @Html.DropDownListFor(m => m.TENHINHANH, new SelectList(ViewBag.ListImage, "TENHINHANH", "TENHINHANH"), new { @class="form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Chọn ảnh" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div><!-- /.col -->
            <script>
                $(document).ready(function () {
                    $("#TENHINHANH").change(function () {
                        $("#ImgShow").attr("src","/Content/img/item/"+$('#TENHINHANH option:selected').text())
                    });
                });
            </script>
        <!--Form thêm hình ảnh-->
            <div class="col-md-6">
                @using (Html.BeginForm("ThemAnhSanPham", "AdminSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Mã sản phẩm</label>
                            @Html.TextBoxFor(m => m.MASANPHAM, new { @readonly="readonly",@class="form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Thêm ảnh sản phẩm</label>
                            <input type="file" class="form-control"  name="Img"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Thêm ảnh" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <img src="" id="ImgShow" />
            </div>
        </div>
    </div><!-- ./box-body -->
</div><!-- /.box -->
