﻿@model WatchShopConnect.SANPHAM
@{ Layout = null;}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Thông tin sản phẩm</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("ThemSanPham", "AdminSanPham", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormThemSP" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Ajax.ActionLink("Trở về", "DanhSachSanPham", "AdminSanPham", new { dsSanPhamPage=ViewBag.page}, new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class = "btn btn-warning" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Mã sản phẩm</label>
                            @Html.TextBoxFor(m => m.MASANPHAM, new { @class = "form-control", placeholder = "Nhập mã sản phẩm" })
                            @Html.ValidationMessageFor(m => m.MASANPHAM)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Tên sản phẩm</label>
                            @Html.TextBoxFor(m => m.TENSANPHAM, new { @class = "form-control", placeholder = "Nhập tên sản phẩm" })
                            @Html.ValidationMessageFor(m=>m.TENSANPHAM)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Xuất xứ</label>
                            @Html.TextBoxFor(m => m.XUATXU, new { @class = "form-control", placeholder = "Nhập xuất xứ" })
                            @Html.ValidationMessageFor(m=>m.XUATXU)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Giá gốc</label>
                            @Html.TextBoxFor(m => m.GIAGOC, new { @class = "form-control", type = "number", placeholder = "Nhập giá gốc" })
                            @Html.ValidationMessageFor(m=>m.GIAGOC)
                        </div>
                        <div class="col-md-5">
                            <label>Giá bán</label>
                            @Html.TextBoxFor(m => m.GIABAN, new { @class = "form-control", type = "number", placeholder = "Nhập giá bán" })
                            @Html.ValidationMessageFor(m => m.GIABAN)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Số lượng tồn</label>
                            @Html.TextBoxFor(m => m.SOLUONGTON, new { @class = "form-control", placeholder = "Nhập số lượng tồn", type = "number" })
                            @Html.ValidationMessageFor(m => m.SOLUONGTON)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Mô tả</label>
                            @Html.TextAreaFor(m => m.MOTA, new { @class = "form-control", placeholder = "Thêm mô tả" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Hướng dẫn</label>
                            @Html.TextAreaFor(m => m.HUONGDAN, new { @class = "form-control", placeholder = "Thêm hướng dẫn" })
                        </div>
                    </div>
                    <script>
                        CKEDITOR.replace('MOTA');
                        CKEDITOR.replace('HUONGDAN');
                    </script>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Ngày đăng</label>
                            @Html.TextBoxFor(m => m.NGAYDANG, new { @class = "form-control", placeholder = "Nhập ngày đăng sản phẩm", type = "date" })
                            @Html.ValidationMessageFor(m => m.NGAYDANG)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Chọn ảnh sản phẩm</label>
                            @Html.TextBoxFor(m => m.IMAGE, new { type = "file", required = "required" })
                            @Html.ValidationMessageFor(m=>m.IMAGE)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Nhà sản xuất</label>
                            @Html.DropDownListFor(m => m.NHASANXUAT, new SelectList(ViewBag.NSX, "MANHASANXUAT", "TENNHASANXUAT", "-Chọn nhà sản xuất-"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Loại năng lượng</label>
                            @Html.DropDownListFor(m => m.LOAINANGLUONG, new SelectList(ViewBag.NangLuong, "ID", "TENLOAI", "-Chọn loại năng lượng-"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Loại dây đeo</label>
                            @Html.DropDownListFor(m => m.LOAIDAY, new SelectList(ViewBag.LoaiDay, "ID", "TENLOAI", "-Chọn dây đeo-"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Loại vỏ đồng hồ</label>
                            @Html.DropDownListFor(m => m.LOAIVO, new SelectList(ViewBag.LoaiVo, "ID", "TENLOAI", "-Chọn loại vỏ đồng hồ-"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Thêm mới" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->

