﻿@model PetaPoco.Page<WatchShopConnect.ViewUser>
@{ Layout = null; }
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Danh sách tài khoản</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>Permission</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="dsSanPham">
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.EMAIL</td>
                                    <td>@item.HOTEN</td>
                                    <td id="pq_@item.UserName">
                                        @if (item.Name == "Admin")
                                        {
                                            <span class="label label-success">Admin</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Member</span>
                                        }
                                    </td>
                                    <td id="tt_@item.UserName">
                                        @if (item.DAXOA == false)
                                        {
                                            <span class="label label-success">Đang hoạt động</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Đã xóa</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                            @if (ViewBag.Current != item.UserID)
                                            {
                                                @Ajax.ActionLink("Admin|", "PhanQuyen", new { user = item.UserName, per = "Admin" }, new AjaxOptions { UpdateTargetId = "pq_" + item.UserName });
                                                @Ajax.ActionLink("Member|", "PhanQuyen", new { user = item.UserName, per = "Member" }, new AjaxOptions { UpdateTargetId = "pq_" + item.UserName });
                                                if (ViewBag.current!=item.UserID)
                                                {
                                                    @Ajax.ActionLink("Xóa|", "XoaTaiKhoan", new WatchShopConnect.NGUOIDUNG { UserID = item.UserID }, new AjaxOptions { UpdateTargetId = "tt_" + item.UserName });
                                                }
                                                @Ajax.ActionLink("Phục hồi|", "PhucHoiTaiKhoan", new WatchShopConnect.NGUOIDUNG { UserID = item.UserID }, new AjaxOptions { UpdateTargetId = "tt_" + item.UserName });
                                            }
                                            @Ajax.ActionLink("Cập nhật", "frmCapNhat", new WatchShopConnect.NGUOIDUNG { UserID = item.UserID }, new AjaxOptions { UpdateTargetId = "ViewShow" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="box-footer text-center">
                        <ul class="pagination">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li>@Ajax.ActionLink(i.ToString(), "DanhSachUser", "AdminUsers", new {page = i }, new AjaxOptions { UpdateTargetId = "ViewShow", InsertionMode = InsertionMode.Replace })</li>
                            }
                        </ul>
                        <!---Action link-->
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->

