﻿@model WatchShopSite.Models.RegistorInf
@{ Layout = null;}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Cập nhật tài khoản</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <script>
                function GetAlert(a) {
                    alert(a);
                }
            </script>
            <div class="col-md-12">
                <div class="table-responsive">
                    @Ajax.ActionLink("Trở về", "DanhSachUser", "AdminUsers" ,new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class = "btn btn-warning" })
                    <div class="row">
                        @using (Ajax.BeginForm("CapNhatTaiKhoan", "AdminUsers", new AjaxOptions { UpdateTargetId = "ViewShow", OnSuccess = "GetAlert('Cập nhật thành công')" }))
                        {
                            @Html.HiddenFor(m=>m.UserName)
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.BirthDate)
                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control",@type="date", @Value = Model.BirthDate.ToString("yyyy-MM-dd")})
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.FullName)
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FullName)
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.IdentityCart)
                                @Html.TextBoxFor(m => m.IdentityCart, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IdentityCart)
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.Address)
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.PhoneNumber)
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type="number" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber)
                            </div>
                            <div class="col-md-9" style="margin-top:10px">
                                <input type="submit" class="btn btn-success" value="Cập nhật tài khoản" />
                            </div>
                        }
                    </div>
                    <div class="box-footer text-center">
                        <!---Action link-->
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->
