*
{
    margin:0px;
    padding:0px;
}
li
{
    list-style-type:none;
}
a
{
    text-decoration: none !important;
}
.Menu>ul>li
{
    margin:5px;
    padding-bottom: 10px;
}

.Menu>ul>li>a
{
    border-top: 3px solid white;
    font-size: 14px;
    color: white !important;
    background:linear-gradient(#666,#111,#000);
    border-radius: 0px 0px 10px 10px;
    transition: border-top 0.5s;
    transition: font-size 0.3s;
    font-weight: bold;
}
.Menu>ul>li>a:hover
{
    color:#12abff !important;
    border-top: 3px solid #12abff;
    text-shadow: 0px 0px 10px #00bfff;
}
.Menu>ul>li:first-child >a
{
    background:linear-gradient(#666,#111,#000);
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
    color: #12abff !important;
    border-top: 3px solid #12abff;
    text-shadow: 0px 0px 10px #00bfff;
}
.Menu>ul>li:hover .Menulv2
{
    display: block; 
}

.Menulv2
{
    border-radius: 10px 10px 10px 10px;
    background: #000;
    border-left: 1px solid #fff;
    list-style: none;
    position: absolute;
    color: #fafafa;
    opacity: 0.95;
    float: left;
    width: 215px;
    z-index: 1;
    margin-top: 5px;
    display: none;
    box-shadow:0px 0px 20px #12abff;
}
.Menulv2>li
{
    border-bottom: 1px solid #666;
}
.Menulv2>li:last-child
{
    border-bottom: none;
}

.Menulv2>li>a
{
    color:#A0A0A0;
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-top:5px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s;
    font-weight: bold;
}
.Menulv2>li>a:hover
{
    color:#12abff;
    padding-left: 30px;
    text-shadow: 0px 0px 5px #00bfff;
}

.ItemHeader
{
    background: url('../img/ii.png') repeat;
    font-size:16px !important;
    color: #12abff !important;
    height:65px;
}
.ItemFooter
{
    background-color: #222;
    text-align:center;
}
.PriceSpan
{
    font-size: 20px;
    color: #FF4012;
    font-weight: 600;
}
.NameSpan
{
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 2px 5px #0012ae;
}

.ItemInfo
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 0px;
    background: url('../img/Itembackground.jpg') #333 no-repeat;
    opacity: 0;
    padding-left: 5%;
    padding-top: 5%;
    transition: opacity 0.5s;
    border-radius: 5px;
    border:2px solid #fff;
}
.ItemInfo>.Link
{
    font-weight: 600;
    color: rgb(33, 191, 185);
    text-shadow:2px 2px 5px #12abff;
    font-size: 16px;
    font-size:16px;
}
.ItemInfo>.Link:hover
{
    text-shadow:2px 2px 5px orange;
    color:orange;
}
.ItemInfo:hover
{
    opacity: 1;
    box-shadow:0px 0px 20px #12abff;
}
.info
{
    line-height: 45px;
}
.ItemInfo>span
{
    line-height: 30px;
}
.info, .ItemInfo>span
{
    font-size: 16px;
    color: #12abff;
    font-weight:bold;
}
@media (max-width: 1366px)
{
    .ItemInfo
    {
        width: 89%;
    }
}
@media (max-width: 800px)
{
    .ItemInfo
    {
    width: 93%;
    }
}
@media (max-width: 600px)
{
    .ItemInfo
    {
    width: 95%;
    }
}
@media (max-width: 320px)
{
    .ItemInfo
    {
    width: 91%;
    }
}

.ListType>div>a
{
    background:#222;
    font-size:14px;
    color:#999;
    transition: all 0.3s;
}
.ListType>div>a:hover
{
    background-color: #000;
    color: #00bfff;
    text-shadow: 2px 2px 5px #002bae;
    padding-left: 25px;
}
.ListType>div>a:first-child
{
    color: #00bfff;
    text-shadow: 2px 2px 5px #002bae;
}

.layoutSlider
{
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.DS
{
    overflow: hidden;
    height: 320px;
}
.ListSlider
{
    width:2430px;
    transition: all 0.7s;
    transform:translate(0px);
}
.itemslider
{
    border: 1px solid;
    width: 243px;
    height: 100%;
    float: left;
    background: #000;
    opacity: 1;
    border-radius: 10px;
    text-align: center;
}
.itemslider:hover
{
    border-bottom:2px solid #ffffff;
    box-shadow:0px 2px 10px #12abff
}
.Controll
{
    color: #fff;
    text-shadow: 2px 2px 5px #222;
    position: absolute;
    font-size: 40px;
    margin-top: 95px;
    transition: font-size 0.3s;
}
.Controll:hover
{
    color: #12abff;
    font-size: 45px;
    text-shadow: 2px 2px 10px #12abff;
    cursor: pointer;
}
.ItemSaleOff
{
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #ff1a1a;
    transform: rotate(-30deg);
}
.DetailInfo
{
    margin-top: 10px;
    color:#fff;
}
.lab
{
    padding-top: 5px;
    float: left;
    font-size: 16px;
    color: #fff;
}
.ctrl
{
    float:left;
    color: #fff;
    font-size: 24px;
    background-color: #000;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.TabInfo>li>a
{
    font-size:18px;
    color:#12abff;
}
.TabContent>div
{
    font-size:14px;
    color:#fff;
}
#CartIcon
{
    position: fixed;
    top: 50px;
    padding: 2px;
    right: 20px;
    z-index: 2;
    border: 2px solid #fff;
    box-shadow: 0px 0px 15px #4cff00;
    border-radius: 30px;
}