﻿@{Layout = null;}
@if (ViewBag.tt == "Đã Giao")
{
    <span class="label label-success">@ViewBag.tt</span>
}
else
{
    if (ViewBag.tt == "Đang Giao")
    {
        <span class="label label-warning">@ViewBag.tt</span>
    }
    else
    {
        <span class="label label-danger">@ViewBag.tt</span>
    }
}
