﻿@model IEnumerable<WatchShopBUS.Models.DonHangDetail>
@{Layout = null;
WatchShopConnect.DONHANG dh = ViewBag.dh;}
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Chi tiết đơn hàng</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-resposive">
                    <tr>
                        <th>Tên: @dh.TENNGUOINHAN</th>
                        <th>SDT: @dh.SDT</th>
                        <th>Địa chỉ: @dh.DIACHI</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.MASANPHAM</td>
                            <td>@item.TENSANPHAM</td>
                            <td>@item.SOLUONG</td>
                            <td>@item.THANHTIEN</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
