﻿@model PetaPoco.Page<WatchShopBUS.Models.dsDonHangView>
           @{ Layout = null;}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Danh sách đơn hàng</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Họ tên</th>
                        <th>Tổng tiền</th>
                        <th>Ngày đặt</th>
                        <th>Trạng thái</th>
                        <th>
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Items)
                    {
                        <tr>
                            <td>@item.MADONHANG</td>
                            <td>@item.HoTen</td>
                            <td>@item.TONGTIEN</td>
                            <td>@string.Format("{0}/{1}/{2}",item.NGAYMUA.Day,item.NGAYMUA.Month,item.NGAYMUA.Year)</td>
                            <td id="lbl_@item.MADONHANG">
                            @if (@item.TRANGTHAI=="Đã Giao")
                            {
                                <span class="label label-success">@item.TRANGTHAI</span>
                            }
                            else
                            {
                                if (@item.TRANGTHAI == "Đang Giao")
                                {
                                    <span class="label label-warning">@item.TRANGTHAI</span>
                                }
                                else
                                {
                                    <span class="label label-danger">@item.TRANGTHAI</span>
                                }
                            }
                            </td>
                            <td>
                                @Ajax.ActionLink("Chưa giao", "CapNhatTrangThai", new { id = item.MADONHANG, tt = "Chưa Giao" }, new AjaxOptions { UpdateTargetId="lbl_"+item.MADONHANG })|
                                @Ajax.ActionLink("Đang giao", "CapNhatTrangThai", new { id = item.MADONHANG, tt = "Đang Giao" }, new AjaxOptions { UpdateTargetId = "lbl_" + item.MADONHANG })|
                                @Ajax.ActionLink("Đã giao", "CapNhatTrangThai", new { id = item.MADONHANG, tt = "Đã Giao" }, new AjaxOptions { UpdateTargetId = "lbl_" + item.MADONHANG })|
                                @Ajax.ActionLink("Chi tiết", "ChiTietDonHang", new { id = item.MADONHANG}, new AjaxOptions { UpdateTargetId = "ViewShow"})
                            </td>
                        </tr>   
                    }
                </tbody>
            </table>
            <div class="box-footer text-center">
                <!---Action link-->
                <ul class="pagination">
                    @for(int i=1;i<=Model.TotalPages;i++)
                    {
                        @Ajax.ActionLink(i.ToString(), "DanhSachDonHang", new { Page = i }, new AjaxOptions { UpdateTargetId="dsdh"})
                    }
                </ul>
            </div>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
    </div><!-- /.box-footer -->
</div>
