﻿@model WatchShopConnect.NHASANXUAT
@{Layout = null;}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">Thêm nhà sản xuất mới</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
        <script>
            function GetAlert(a)
            {
                alert(a);
            }
        </script>
            <div class="col-md-12">
                <div class="table-responsive">
                    @Ajax.ActionLink("Trở về", "DanhSachNhaSanXuat", "AdminNhaSanXuat", new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class="btn btn-warning" })
                    <div class="row">
                        @using (Ajax.BeginForm("ThemNhaSanXuat", "AdminNhaSanXuat", new AjaxOptions { UpdateTargetId = "ViewShow", OnSuccess="GetAlert('Thêm mới nhà sản xuất thành công')" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.MANHASANXUAT)
                                @Html.TextBoxFor(m => m.MANHASANXUAT, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MANHASANXUAT)
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.TENNHASANXUAT)
                                @Html.TextBoxFor(m => m.TENNHASANXUAT, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TENNHASANXUAT)
                            </div>
                            <div class="col-md-9" style="margin-top:10px">
                                <input type="submit" class="btn btn-success" value="Thêm nhà sản xuất" />
                            </div>
                        }
                    </div>
                    <div class="box-footer text-center">
                        <!---Action link-->
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->