﻿@model IEnumerable<WatchShopConnect.SANPHAM>
@{ Layout = null;}

<div class="layoutSlider">
    <div class="DS">
        <ul id="ListSlider" class="ListSlider">
            @foreach(var item in Model)
            {
                <li class="itemslider">
                    <a href="~/SanPham/index/@Html.DisplayFor(m=>item.MASANPHAM)">
                        <div class="ItemSaleOff">Sale<br>@string.Format("{0}%", (float)(item.GIAGOC - item.GIABAN) / item.GIAGOC * 100)</div>
                        <div style="padding: 10px">
                            <img style="display: block;margin:auto;" src="~/Content/img/item/@item.IMAGE" width="120" class="img-responsive " /><br>
                            <span style="color: #12abff;font-size:16px;text-shadow: 0px 0px 3px #00bfff; font-weight: bold;">@item.TENSANPHAM</span><br>
                            <span class="PriceSpan">@string.Format("{0:0,0 đ}", item.GIAGOC)</span>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <div class="Controll" id="LCtrl" onclick="ClickB();"><<</div>
        <div class="Controll" id="RCtrl" onclick="ClickA();" style="right: 5%;">>></div>
        <script>
            var pxRotate = 0;
            var NumItem = document.getElementsByClassName("itemslider").length;
            document.getElementById("ListSlider").style.width = NumItem*243 + "px";
            function ClickA()
            {
                pxRotate -= 243;
                if (pxRotate == -(NumItem * 243 - 4 * 243))
                {
                    pxRotate = 0;
                }
                document.getElementById("ListSlider").style.transform = "translate(" + pxRotate + "px)";
            }
            function ClickB()
            {
                pxRotate += 243;
                if (pxRotate > 0)
                {
                    pxRotate = -(document.getElementsByClassName("itemslider").length * 243 - 4 * 243 - 243);
                }
                document.getElementById("ListSlider").style.transform = "translate(" + pxRotate + "px)";
            }
        </script>
    </div>
</div>