﻿@model WatchShopBUS.Models.TimKiemSP
@{ Layout = null;
   }

<div class="modal fade" id="FormTimKiemNangCao" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Tìm kiếm sản phẩm</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("KetQuaTimKiem", "SanPham", FormMethod.Get, new { @class = "form-horizontal", @style="text-align:left" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                      @Html.LabelFor(m => m.TenSanPham, new { @class = "col-sm-12" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.TenSanPham, new { @class = "form-control", @placeholder="Nhập tên sản phẩm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.beginGia, new { @class = "col-sm-12" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.beginGia,new { @class = "form-control",style="number",placeholder="từ..." })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.endGia, new { @class = "form-control", style = "number", placeholder = "đến..." })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NhaSanXuat, new { @class = "col-sm-12" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.NhaSanXuat, new SelectList(ViewBag.NSX,"MANHASANXUAT","TENNHASANXUAT") ,"--Nhà sản xuất--",new { @class="form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.LoaiDay)
                                @Html.DropDownListFor(m => m.LoaiDay, new SelectList(ViewBag.LoaiDay, "ID", "TENLOAI"), "--Loại dây đồng hồ--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.LoaiVo)
                            @Html.DropDownListFor(m => m.LoaiVo, new SelectList(ViewBag.LoaiVo, "ID", "TENLOAI"), "--Loại vỏ mặt--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.LoaiNangLuong)
                            @Html.DropDownListFor(m => m.LoaiNangLuong, new SelectList(ViewBag.LoaiNangLuong, "ID", "TENLOAI"), "--Loại đồng hồ--", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-success" value="Tìm kiếm" />
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>