﻿@using WatchShopSite.Models
@model IEnumerable<WatchShopConnect.SP_VIEW>
@{
    ViewBag.Title = "Sản phẩm mua nhiều";
    Layout = null;
}
<div class="col-md-12">
    <!--CHIA RA TỪNG DÙNG ĐỂ ĐƯA DANH SÁCH TỪNG LOẠI NHƯ MỚI NHẤT, MUA NHIỀU NHẤT-->
    <!--DANH SÁCH SẢN PHẨM HÀNG LOẠT-->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-success" style="height:400px">
                    <div class="panel-heading ItemHeader">@Html.DisplayFor(m => item.TENSANPHAM)</div>
                    <div class="panel-body" style="height:284px">
                        <img src="/Content/img/item/@Html.DisplayFor(m=>item.IMAGE)" width="150" height="240" style="margin: auto; display: block;">
                        <div class="ItemInfo" style="color:white">
                            Hãng sản xuất:<span>@Html.DisplayFor(m => item.TENNHASANXUAT)</span><br>
                            năng lượng:<span>@Html.DisplayFor(m => item.TENLOAI)</span><br>
                            Loại dây:<span>@Html.DisplayFor(m => item.LOAIDAY)</span><br>
                            Loại vỏ:<span>@Html.DisplayFor(m => item.LOAIVO)</span><br>
                            Giá gốc:<span class="PriceSpan" style="color: #FF4012;">@string.Format("{0:0,0 đ}", item.GIAGOC)</span><br />
                            Lượt mua:<span>@Html.DisplayFor(m => item.LUOTMUA)</span><br>
                            Lượt Xem:<span>@Html.DisplayFor(m => item.LUOTXEM)</span><br>
                            @Ajax.ActionLink("Đặt mua", "ThemVaoGioHang", "ShoppingCart", new Detail { masanpham = item.MASANPHAM, tensanpham = item.TENSANPHAM, gia = item.GIABAN, soluong = 1 }, new AjaxOptions { UpdateTargetId = "CartCount" }, new { @class = "btn btn-warning" })
                            <a class="btn btn-info" href="~/SanPham/index/@Html.DisplayFor(m=>item.MASANPHAM)">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="panel-footer ItemFooter">
                        <span class="PriceSpan">@string.Format("{0:0,0 đ}", item.GIABAN)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--PHẦN PHÂN TRANG-->
</div>

<!--TOP GỒM ĐĂNG NHẬP, ĐĂNG KÍ, GIỎ HANG Ở GÓC PHẢI -->
