﻿@using WatchShopSite.Models
@model PetaPoco.Page<WatchShopConnect.SP_VIEW>
@{ Layout = null;}

@foreach (var item in Model.Items)
{
    <div class="col-md-4">
                <div class="panel panel-success" style="height:400px">
                    <div class="panel-heading ItemHeader">@Html.DisplayFor(m => item.TENSANPHAM)</div>
                    <div class="panel-body" style="height:284px">
                        <img src="/Content/img/item/@Html.DisplayFor(m=>item.IMAGE)" width="150" height="240" style="margin: auto; display: block;">
                        <div class="ItemInfo" style="color:white">
                            Hãng sản xuất:<span>@Html.DisplayFor(m => item.TENNHASANXUAT)</span><br>
                            năng lượng:<span>@Html.DisplayFor(m => item.TENLOAI)</span><br>
                            Loại dây:<span>@Html.DisplayFor(m => item.LOAIDAY)</span><br>
                            Loại vỏ:<span>@Html.DisplayFor(m => item.LOAIVO)</span><br>
                            Giá gốc:<span class="PriceSpan" style="color: #FF4012;">@string.Format("{0:0,0 đ}", item.GIAGOC)</span><br />
                            Lượt mua:<span>@Html.DisplayFor(m => item.LUOTMUA)</span><br>
                            Lượt Xem:<span>@Html.DisplayFor(m => item.LUOTXEM)</span><br>
                            @Ajax.ActionLink("Đặt mua", "ThemVaoGioHang", "ShoppingCart", new Detail { masanpham = item.MASANPHAM, tensanpham = item.TENSANPHAM, gia = item.GIABAN, soluong = 1 }, new AjaxOptions { UpdateTargetId = "CartCount" }, new { @class = "btn btn-warning" })
                            <a class="btn btn-info" href="~/SanPham/index/@Html.DisplayFor(m=>item.MASANPHAM)">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="panel-footer ItemFooter">
                        <span class="PriceSpan">@string.Format("{0:0,0 đ}", item.GIABAN)</span>
                    </div>
                </div>
            </div>
}
