﻿@using WatchShopSite.Models
@model WatchShopConnect.SP_VIEW
@{
    Layout = null;
}
<div class="col-md-10">
    <div class="col-md-11">
        <div class="row">
            <div class="container-fluid" style="border:1px solid #12abff; background: url('@Url.Content("~/Content/img/bg.jpg")') repeat ; border-radius: 10px;box-shadow: 0px 0px 5px #12abff">
                <div class="col-md-5" style="margin-top:15px">
                    <img style="margin:auto; display: block" src="@Url.Content("~/Content/img/item/"+Model.IMAGE)" class="img-thumbnail" />
                </div>
                <div class="co-md-7">
                    <div class="DetailInfo">
                        Tên sản phẩm: <span class="info">@Html.DisplayFor(m => m.TENSANPHAM)</span><br>
                        Hãng sản xuất: <span class="info">@Html.DisplayFor(m => m.TENNHASANXUAT)</span><br>
                        Giá bán: <span class="PriceSpan"><b>@string.Format("{0:0,0 đ}", Model.GIABAN)</b></span><br>
                        Xuất xứ: <span class="info"><b>@Html.DisplayFor(m => m.XUATXU)</b></span><br>
                        Năng lượng: <span class="info"><b>@Html.DisplayFor(m => m.TENLOAI)</b></span><br>
                        Loại dây: <span class="info"><b>@Html.DisplayFor(m => m.LOAIDAY)</b></span><br>
                        Loại vỏ: <span class="info"><b>@Html.DisplayFor(m => m.LOAIVO)</b></span><br>
                        Lượt mua: <span class="info"><b>@Html.DisplayFor(m => m.LUOTMUA)</b></span><br>
                        Lượt Xem: <span class="info"><b>@Html.DisplayFor(m => m.LUOTXEM)</b></span><br>
                    </div>
                    <div>
                        @using (Ajax.BeginForm("ThemVaoGioHang", "ShoppingCart", new AjaxOptions { UpdateTargetId="CartCount"}))
                        {
                            <div class="lab">Số lượng: &nbsp;</div>
                            <div style="float: left">
                            
                                    <div class="ctrl" id='Tru' onclick="ChangeValue(this);">-</div>
                                    <div style="float: left;">
                                        @Html.TextBox("soluong", null, new { style = "height: 35px;width:45px; font-size:14px",type="number",@readonly="readonly"})
                                        @Html.Hidden("masanpham",Model.MASANPHAM)
                                        @Html.Hidden("tensanpham", Model.TENSANPHAM)
                                        @Html.Hidden("gia",Model.GIABAN)
                                    </div>
                                    <div class="ctrl" id='Cong' onclick="ChangeValue(this);">+</div>   
                            
                            </div>
                            <div style="float: left"><input class="btn btn-danger" type="submit" value="Mua hàng" /></div>
                            <div style="clear: both"></div>
                        }
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px; margin-top:20px;">
                    <div class="container-fluid">
                        <ul class="nav nav-tabs TabInfo">
                            <li class="active"><a data-toggle="tab" href="#home">Mô tả sản phẩm</a></li>
                            <li><a data-toggle="tab" href="#menu1">Hướng dẫn sử dụng</a></li>
                        </ul>
                        <div class="tab-content TabContent" style="padding:20px">
                            <div id="home" class="tab-pane fade in active">
                                @Html.Raw(Model.MOTA)
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                @Html.Raw(Model.HUONGDAN)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid" style="margin-bottom:20px">
                        <h2 style="color:white">Bình luận</h2><hr />
                        <div>
                            <div class="col-md-2">
                                <img src="@Url.Content("~/Content/img/userimg.jpg")" class="img-responsive" />
                            </div>
                            <div class="col-md-10">
                                @using (Ajax.BeginForm("ThemBinhLuan", "BinhLuan", new AjaxOptions { UpdateTargetId="BinhLuanList", InsertionMode=InsertionMode.Replace }))
                                {
                                    @Html.TextBox("nguoibinhluan", null ,new { @class="form-control", @style="width:50%" ,placeholder="nhập tên"})<br/>
                                    @Html.TextArea("THONGTINBINHLUAN", null, new { @class = "form-control",rows="6", placeholder = "Bình luận..." })<br/>
                                    @Html.HiddenFor(m=>m.MASANPHAM)
                                    <input type="submit" class="btn btn-info" value="Bình luận"/>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="BinhLuanList">
                    @Html.Action("DSBinhLuan", "BinhLuan", new { masp=Model.MASANPHAM, page=1})
                </div>
                <div class="row">
                    <div class="container-fluid" style="margin-bottom:20px;">
                        <h2 style="color:#fff">Sản phẩm cùng nhà sản xuất</h2><hr />
                        @Html.Action("SanPhamCungNhaSanXuat", "SanPham", new {  mansx=Model.NHASANXUAT})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
