﻿@using WatchShopSite.Models
@model PetaPoco.Page<WatchShopConnect.SP_VIEW>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div class="col-md-12">
    <!--CHIA RA TỪNG DÙNG ĐỂ ĐƯA DANH SÁCH TỪNG LOẠI NHƯ MỚI NHẤT, MUA NHIỀU NHẤT-->
    <!--DANH SÁCH SẢN PHẨM HÀNG LOẠT-->
    <div class="row">
        @if (Model.Items.Count()>0)
        {
            foreach (var item in Model.Items)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-success" style="height:400px">
                        <div class="panel-heading ItemHeader">@Html.DisplayFor(m => item.TENSANPHAM)</div>
                        <div class="panel-body" style="height:284px">
                            <img src="/Content/img/item/@Html.DisplayFor(m=>item.IMAGE)" width="150" height="240" style="margin: auto; display: block;">
                            <div class="ItemInfo" style="color:white">
                                Hãng sản xuất:<span>@Html.DisplayFor(m => item.TENNHASANXUAT)</span><br>
                                năng lượng:<span>@Html.DisplayFor(m => item.TENLOAI)</span><br>
                                Loại dây:<span>@Html.DisplayFor(m => item.LOAIDAY)</span><br>
                                Loại vỏ:<span>@Html.DisplayFor(m => item.LOAIVO)</span><br>
                                Giá gốc:<span class="PriceSpan" style="color: #FF4012;">@string.Format("{0:0,0 đ}", item.GIAGOC)</span><br />
                                Lượt mua:<span>@Html.DisplayFor(m => item.LUOTMUA)</span><br>
                                Lượt Xem:<span>@Html.DisplayFor(m => item.LUOTXEM)</span><br>
                                @Ajax.ActionLink("Đặt mua", "ThemVaoGioHang", "ShoppingCart", new Detail { masanpham = item.MASANPHAM, tensanpham = item.TENSANPHAM, gia = item.GIABAN, soluong = 1 }, new AjaxOptions { UpdateTargetId = "CartCount" }, new { @class = "btn btn-warning" })
                                <a class="btn btn-info" href="~/SanPham/index/@Html.DisplayFor(m=>item.MASANPHAM)">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="panel-footer ItemFooter">
                            <span class="PriceSpan">@string.Format("{0:0,0 đ}", item.GIABAN)</span>
                        </div>
                    </div>
                </div>
            }   
        }
        else
        {
            <span>
                Không có sản phẩm trả về
            </span>
        }
    </div>
    <!--PHẦN PHÂN TRANG-->
    <div>
        <ul class="pagination pagination-lg" style="box-shadow:0px 0px 10px #0094ff">
            <li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a href="?n=@string.Format("{0}", i)" style="background-color: rgba(0, 0, 0, 0); font-size:18px">@string.Format("{0}", i)</a>
                }
            </li>
        </ul>
    </div>
</div>

<!--TOP GỒM ĐĂNG NHẬP, ĐĂNG KÍ, GIỎ HANG Ở GÓC PHẢI -->
