﻿@model WatchShopConnect.DONHANG
<div class="col-md-10" style="border:1px solid #fff; color:#fff; border-radius:20px ;box-shadow:0px 0px 20px #0094ff">
    <div class="col-md-7 col-md-offset-1">
        @using (Html.BeginForm("DatHang", "ShoppingCart", FormMethod.Post, new { style="padding:20px" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.TENNGUOINHAN)
                @Html.TextBoxFor(m => m.TENNGUOINHAN, new { @class = "form-control", placeholder = "Nhập tên người nhận" })
                @Html.ValidationMessageFor(m => m.TENNGUOINHAN)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DIACHI)
                @Html.TextBoxFor(m => m.DIACHI, new { @class = "form-control", placeholder = "Nhập địa chỉ" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SDT)
                @Html.TextBoxFor(m => m.SDT, new { @class = "form-control", type = "number", placeholder = "Số điện thoại" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Đặt hàng" />
            </div>
            <div class="form-group">
                <span class="field-validation-error">
                    @ViewBag.tt
                </span>
            </div>
        }
    </div>
</div>
