﻿@using WatchShopSite.Models
@model List<WatchShopSite.Models.Detail>
@{ Layout = null;}

<div style="position: fixed; top: 50px; padding: 2px; right: 20px; z-index: 2; border: 2px solid #fff; box-shadow:0px 0px 15px #4cff00 ;border-radius: 30px;">
    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ViewShow" href="/ShoppingCart/GioHang">
        <i class="fa fa-cart-plus" style="font-size: 24px;color: lightgreen;" aria-hidden="true"></i>
        <span id="CartCount" style="font-size: 24px;color: lightgreen;"> @ShoppingCart.CountItem(Session["ShoppingCart"]).ToString()</span>
    </a>
</div>
<div class="col-md-9">
    <!--CHIA RA TỪNG DÙNG ĐỂ ĐƯA DANH SÁCH TỪNG LOẠI NHƯ MỚI NHẤT, MUA NHIỀU NHẤT-->
    <!--DANH SÁCH SẢN PHẨM HÀNG LOẠT-->
    <div class="row">
        <table class="table table-striped" style="background-color:#ddd">
            <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {   
                <tr>
                    <td>
                        @item.masanpham
                    </td>
                    <td>
                        @item.tensanpham
                    </td>
                    <td>
                        @string.Format("{0:0,0 đ}",item.gia)
                    </td>
                    <td>
                        @using (Ajax.BeginForm("ThayDoiSoLuong", "ShoppingCart", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "ViewShow" }))
                        {
                            @Html.Hidden("masanpham", item.masanpham)
                            <div class="col-md-6">
                                @Html.TextBox("soluong", item.soluong, new { type = "number",@class="form-control" })
                            </div>
                        }
                    </td>
                    <td>
                        @Ajax.ActionLink("Xóa", "XoaSanPham", "ShoppingCart", new { masanpham = item.masanpham }, new AjaxOptions { UpdateTargetId = "ViewShow" }, new { @class = "btn btn-danger  btn-xs" })
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td><b>Tổng: @string.Format("{0:0,0 đ}",ShoppingCart.TinhTongTien(Session["ShoppingCart"]))</b></td>
                <td></td>
                <td><b>Số lượng: @Model.Sum(m => m.soluong)</b></td>
                <td>@Html.ActionLink("Đặt hàng", "DatHang", "ShoppingCart", new { @class="btn btn-success" })</td>
            </tr>
        </table>
        <script>
            $(document).ready(function () {
                $("input[type='number']").change(function () {
                    if ($(this).val() < 1) {
                        $(this).val("1");
                    }
                    $("form[action='/ShoppingCart/ThayDoiSoLuong']").submit();
                });
            });
            function GetAlert(a)
            {
                alert(a);
            }
        </script>
    </div>
</div>
