﻿@model IEnumerable<WatchShopBUS.Models.ViewDonHang>
           @{string str = "";
             ViewBag.Title = "Lịch sử mua hàng";
             }
<div class="col-md-10">
    <div class="panel" style="background-color: rgba(255, 255, 255, 0.04); border-radius:10px">
        <div class="panel-heading ItemHeader" style="background:url('@Url.Content("~/Content/img/ii.png")'); height:42px; border-radius: 10px 10px 0px 0px;">LỊCH SỬ MUA HÀNG</div>
        <div class="panel-body">
            <table class="table table-striped" style="background-color:#ddd">
                @foreach (var item in Model)
                {
                    if (str != item.MADONHANG)
                    {
                        <tr class="danger">
                            <th>
                                Đơn hàng:@item.MADONHANG
                            </th>
                            <th>
                                Ngày: @string.Format("{0}/{1}/{2}", item.NGAYMUA.Day, item.NGAYMUA.Month, item.NGAYMUA.Year)
                            </th>
                            <th>
                                Tổng tiền: @string.Format("{0:0,0 đ}", item.TONGTIEN)
                            </th>
                            <th>
                                @item.TRANGTHAI
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Mã sản phẩm
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Thành tiền
                            </th>
                        </tr>
                        str = item.MADONHANG;
                    }
                    <tr>
                        <td>@item.MASANPHAM</td>
                        <td>@item.TENSANPHAM</td>
                        <td>@item.SOLUONG</td>
                        <td>@item.THANHTIEN</td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Trở về", "Manage", "Account", null, new { @class = "btn btn-warning" })


        </div>
    </div>
</div>