﻿@model IEnumerable<WatchShopConnect.SP_VIEW>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Partial1.cshtml";
}
<div class="col-md-9">
    <!--CHIA RA TỪNG DÙNG ĐỂ ĐƯA DANH SÁCH TỪNG LOẠI NHƯ MỚI NHẤT, MUA NHIỀU NHẤT-->
    <!--DANH SÁCH SẢN PHẨM HÀNG LOẠT-->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-success" style="height:400px">
                    <div class="panel-heading ItemHeader">@Html.DisplayFor(m => item.TENSANPHAM)</div>
                    <div class="panel-body" style="height:284px">
                        <img src="/Content/img/item/@Html.DisplayFor(m=>item.IMAGE)" width="150" height="240" style="margin: auto; display: block;">
                        <div class="ItemInfo">
                            <span>Hãng sản xuất:@Html.DisplayFor(m => item.TENNHASANXUAT)</span><br>
                            <span>năng lượng:@Html.DisplayFor(m => item.TENLOAI)</span><br>
                            <span>Loại dây:@Html.DisplayFor(m => item.LOAIDAY)</span><br>
                            <span>Loại vỏ:@Html.DisplayFor(m => item.LOAIVO)</span><br>
                            <span>Lượt mua:@Html.DisplayFor(m => item.LUOTMUA)</span><br>
                            <span>Lượt Xem:@Html.DisplayFor(m => item.LUOTXEM)</span><br>
                            <input type="button" class="btn btn-danger" value="Đặt mua"><br />
                            <a href="SanPham/index/@Html.DisplayFor(m=>item.MASANPHAM)">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="panel-footer ItemFooter">
                        <span class="PriceSpan">Giá @Html.DisplayFor(m => item.GIABAN)đ</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--PHẦN PHÂN TRANG-->
    <div>
        <ul class="pagination pagination-lg">
            @for (int i=0;i<ViewBag.numItem;i++)
            {
                <li><a href="home?n=@string.Format("{0}",i+1)">@string.Format("{0}", i + 1)</a></li>
            }
        </ul>
    </div>
</div>
<script>
    var itema = document.getElementsByClassName('panel panel-success');
    var itemb = document.getElementsByClassName('ItemInfo');
    var n = itema.length;
    for (i = 0; i < n; i++) {
        itemb[i].style.height = itema[i].style.height;
        itemb[i].style.width = itema[i].style.width;
    }
</script>

<!--TOP GỒM ĐĂNG NHẬP, ĐĂNG KÍ, GIỎ HANG Ở GÓC PHẢI -->
