﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{<li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
           <ul>
        @if (User.IsInRole("Admin"))
        {
            <li> @Html.ActionLink(User.Identity.GetUserName(), "adminhome", "admin", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        }
        else
        {
         <li> @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>   
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li></ul>
    }
    </li>
}
else
{
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
